.entire-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */;
  margin-top: 15%;
}
/* .section {
  border-top: 1px solid black;
} */

.picture {
  height: 20%;
  width: 100%;
}